<!-- Header -->
<div id="home">
    <header>
        <a href="#" id="showMenu"><i class="fas fa-align-justify"></i> Menu </a>
        <a href="./index.html"><img src="../images/logo.jpg" alt="" class="logo"></a>
        <ul>
            <li><a href="">Face</a></li>
            <li><a href="">Login</a></li>
            <li><a href=""> SignUp</a></li>
        </ul>
    </header>

    <!-- Section Slider -->
    <section class="slider">
        <aside>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sunt omnis debitis, totam adipisci
                molestias?</p>
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias fugiat voluptatibus iste assumenda
                deserunt nostrum cumque, earum omnis deleniti officia. </p>
            <a href="./aboutUs.html">Научи повече <i class="far fa-arrow-alt-circle-right"></i></a>
        </aside>

        <div></div>
    </section>
</div>

<div class="hidden">
    <div class="menu">
        <div class="logoAndButton">
            <a href="./index.html"><img src="../images/logo-white.jpg" alt="" class="logo"></a>
            <a href="#" id="hideMenu"> <i class="fa fa-window-close" aria-hidden="true"></i></a>
        </div>
        <ul>
            <li><button onclick="aboutUsClicked()">How we help</button></li>
            <li><button onclick="supportUsClicked()">Support us</button></li>
            <li><button onclick="adoptedAnimalsClicked()">Adopted</button></li>
            <li><button onclick="forAdoptionClicked()">Rehome a pet</button></li>
            <li><button onclick="contactsClicked()">Find us</button></li>
        </ul>
    </div>

    <div class="backgroundImage" id="bckgImg">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5872.957893618543!2d23.02742447447905!3d42.608797413052244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aacac3f748a6f3%3A0x45a637674c09fde4!2z0J_QtdGA0L3QuNC6INCm0LXQvdGC0YrRgCwg0J_QtdGA0L3QuNC6!5e0!3m2!1sbg!2sbg!4v1550142606078"
            width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="hiddenPageContent">

        <!-- About Us -->
        <section class="aboutUsFirstHalf">
            <h1>How we help ?</h1>
            <p>Pets are at the heart of everything we do. Each year, thousands of cats, dogs, small pets and horses
                turn to our animal hospitals, clinics and rehoming services for treatment and to find them the happy
                homes they deserve.</p>
        </section>

        <section class="aboutUsSecondHalf">
            <p> Meanwhile, our Education and Behaviour Teams prepare future pet owners to take
                responsibility and look after their pets for life.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, molestiae?</p>
            <button><a href="pages/aboutUs.html">Learn More</a></button>
        </section>

        <!-- Donate -->
        <section class="supportUsFirstHalf">
            <h1>Support Us</h1>
            <p>Thousands of abandoned or unwanted, ill or injured, pets turn to us for help every year. Our doors are
                always open to them, and with your support, they always will be. Whether you want to fundraise,
                volunteer or donate, your support will make a difference to pets in need.</p>
        </section>

        <section class="supportUsSecondHalf">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus aut voluptate impedit eos a earum
                voluptatibus, aspernatur vitae aperiam ipsam!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus aut voluptate impedit eos a earum
                voluptatibus, aspernatur vitae aperiam ipsam!</p>
            <button><a href="pages/supportUs.html">Donate</a></button>
        </section>

        <!-- Adopted -->
        <section class="adoptFirstHalf">
            <h1>Re-home pet</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sapiente nemo quisquam vitae
                blanditiis repellat.</p>
        </section>

        <section class="adoptSecondHalf">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates tempora consequatur ratione
                earum consectetur veritatis. Doloribus maiores provident cupiditate molestiae.</p>
            <button><a href="pages/addopted.html">Gallery</a></button>
        </section>

        <!-- Adopted Animals -->
        <section class="adoptAnimalsFirstHalf">
            <h1>Adopted Animals</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit asperiores, illo quo quia placeat
                quibusdam.</p>
        </section>

        <section class="adoptAnimalsSecondHalf">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum facilis non impedit iure suscipit
                deserunt voluptatibus veniam nobis incidunt temporibus.</p>
            <button><a href="pages/adopt.html">Gallery</a></button>
        </section>

        <!-- Contacts -->
        <section class="contactsFirstHalf">
            <h1>Contacts</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sapiente nemo quisquam vitae
                blanditiis repellat.</p>
        </section>

        <section class="contactsSecondHalf">
            <p>TEL:</p>
            <p>Email:</p>
            <p>facebook:</p>
            <button><a href="pages/contacts.html">Contact us</a></button>
        </section>
    </div>

</div>