<header>
    <a href="#" id="showMenu"><i class="fas fa-align-justify"></i> Menu </a>
    <a href="./index.html"><img src="../images/logo.jpg" alt="" class="logo"></a>
    <ul>
        <li><a href="">Face</a></li>
        <li><a href="">Login</a></li>
        <li><a href=""> SignUp</a></li>
    </ul>
</header>